&uart4 {
	status = "okay";
    current-speed = <115200>;
    sim7000 {
        compatible = "simcom,sim7000";
        label = "sim7000";
        mdm-power-gpios = <&gpioa 6 GPIO_ACTIVE_LOW>;
    };
    
    /*
    status = "okay";
	current-speed = <115200>;
	gsm: gsm-modem {
		compatible = "zephyr,gsm-ppp";
	};
    */
};

